
snippet lorem "Lorem ipsum" i
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi metus, aliquam quis felis id, posuere ornare sem. Maecenas auctor eros vel lobortis convallis. Suspendisse potenti. Sed sit amet orci at nunc sollicitudin bibendum ut eget velit. Duis accumsan ipsum libero, quis pellentesque metus faucibus a
endsnippet
