snippet imp "import from ''" b
import { $2 } from '$1';
endsnippet

snippet clg "console.log()" b
console.log(${1:$2, $3})
endsnippet

snippet aroute
	{ path: '/${1:#:path}', component: ${2:#:Component} }${0}
endsnippet

snippet exp
export * from '${1}';
endsnippet

snippet afn "angular function" b
$1($2):$3{
$4
}
endsnippet
